<div class="jumbotron">
    <h1>STONE</h1>
    <p class="lead">Desafio 2: </p>
</div>
<div class="row">
    <div class="col-md-12">
        O objetivo do desafio é simples. Desenvolver a API de um sistema de gerenciamento de dívidas entre amigos.

        Imagine que você foi em um bar com seus amigos, e a conta seria dividida igualmente. Você efetuou o pagamento inteiro, e seus amigos ficarão te devendo. Você pode lançar no sistema a data do pagamento, o valor, uma descrição e que pessoas estavam envolvidas.

        Também deve ser possível cadastrar que um pagamento foi feito diretamente para outra pessoa, que será usado para quitar dívidas existentes.

        A todo momento, deve ser possível consultar quanto uma pessoa deve à outra.
    </div>
    <br />
    <div class="col-md-6">

            Os requisitos técnicos para o desenvolvimento são:<br />
            - C# como linguagem de programação, usando o ASP.NET Core.<br />
            - Usar Web API RESTful para o desenvolvimento, seguindo o padrão DDD;<br />
            - Implementar testes unitários usando o NUnit ou o XUnit;<br />
            - Usar o Entity Framework<br />
            - Banco de dados Sql Server ou My Sql<br />
            - Versionar seu projeto usando GIT (GitHub/Bitbucket);

    </div>
</div>
